- var inputId = 'radio-'+locals.betOn;

input(
	hidden
	type="radio"
	name="betOn"
	value=locals.betOn
	id=inputId
	property-binding-user="betOn"
)
label.s-btn.m-expand.l-nowrap.f-c-white.put-on-button(
	class='s-bg-' + locals.color
	bet-button=locals.betOn
	for=inputId
)= button
	| #[b #{locals.from}]
	if locals.to
		|  До #[b #{locals.to}]
	| , Победа #[b #{locals.upTo || 0}x]

.count(property-binding="playersTotal") 0
.l-flex.m-centered.s-panel.s-bg-white(style="min-height:86px;")
	div: img(
		greatest-user-icon
		width="60px"
		height="60px"
		style="margin-right: 10px;border-radius:100px; border:none;outline:none; background-color: transparent;"
	)
	.flex-1(style="min-height:66px;")
		.f-sz.f-upper(
			class=`f-c-${ locals.color }`
			style="margin-bottom: 4px;"
			) Наибольшее #{locals.colorWord}
		.f-sz-s.f-black(property-binding="greatestUserName") Sucharexzekk
		.f-sz-s.count(property-binding="greatestUserBet") 2000

.l-centered.l-center
	.l-ib.s-bd-base.l-nowrap.f-sz-s.l-p-s
		| #[span.f-upper всего игроков: ]
		| #[b.f-c-red(property-binding="playersCount") 0 ]


div(role="region" name="usersList")