.game-double-container.l-stack
	.spinner
		.indicator
		.l-nowrap.animatable(animatable)
			each i in new Array(11)
				.spinner-cells.l-i-flex
					each el in locals.range
						- const className = `s-bg-${el.color}`
						.spinner-item.l-flex-1(class=className)= el.value

	.bids.s-panel.s-bg-gray-l.l-stack
		div Имя: #[span(property-binding="user.nickname")]

		div.l-flex
			div
				.l-ib(style="margin-right:10px;") Ставка:

				input.l-h-100p.bet-input(
					value=locals.currentBet
					property-binding-user="currentBet"
				)

			.bet-actions.l-flex-1.l-i-flex.s-bd-base
				button.s-btn.l-flex-1.s-bg-gray-l.l-p-xs.f-upper.f-sz-s(
					bet-action="clean"
				) Очистить
				button.s-btn.l-flex-1.s-bg-gray-l.l-p-xs.f-upper.f-sz-s(
					bet-action="last"
				) Последняя
				button.s-btn.l-flex-1.s-bg-gray-l.l-p-xs.f-upper.f-sz-s(
					bet-action="+10"
				) +10
				button.s-btn.l-flex-1.s-bg-gray-l.l-p-xs.f-upper.f-sz-s(
					bet-action="+100"
				) +100
				button.s-btn.l-flex-1.s-bg-gray-l.l-p-xs.f-upper.f-sz-s(
					bet-action="+500"
				) +500
				button.s-btn.l-flex-1.s-bg-gray-l.l-p-xs.f-upper.f-sz-s(
					bet-action="+1000"
				) +1000
				button.s-btn.l-flex-1.s-bg-gray-l.l-p-xs.f-upper.f-sz-s(
					bet-action="1/2"
				) 1/2
				button.s-btn.l-flex-1.s-bg-gray-l.l-p-xs.f-upper.f-sz-s(
					bet-action="x2"
				) x2
				button.s-btn.l-flex-1.s-bg-gray-l.l-p-xs.f-upper.f-sz-s(
					bet-action="max"
				) Макс
		div Баланс: #[span.s-bg-gray-l.l-ib(property-binding="displayBalance" balance) 0] руб.

	div status: #[span(property-binding="status")]


	div(role="region" name="users")
